@import url(../assets/styles/gradient-color.css);
@import url(../assets/styles/blue.css);

.bg-list-chat {
    background-color: var(--bg-gray-color) !important;
    border-radius: 20px;
    margin-right:10px;
    padding:10px !important;
}

.anti-bg {
    background-image: none !important;
    background-color: none !important;
    border: none !important;
}

.br-22 {
    border-radius: 22px !important;
}

.big-icon {
    width: 2rem;
    height: 2rem;
}