:root {
    --blue-color: #52A6F3;
    --white-color: rgb(255,255,255,0.3);
    --blue-opacity04-color :rgb(82,166,243,0.4);
    --border-color: rgb(162,161,168,0.2);
    --bg-gray-color: rgb(162,161,168,0.1);
  }